In [37]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('us-counties.csv')

In [13]:
df[df.state == 'Ohio'].to_csv('ohio-counties-covid-data.csv', index=False)

In [14]:
df[df.state == 'Kentucky'].to_csv('kentucky-counties-covid-data.csv', index=False)

In [15]:
df[df.state == 'West Virginia'].to_csv('west-virginia-counties-covid-data.csv', index=False)

In [49]:
df.fips.round()

0          53061.0
1          53061.0
2          53061.0
3          17031.0
4          53061.0
            ...
1121665    56037.0
1121666    56039.0
1121667    56041.0
1121668    56043.0
1121669    56045.0
Name: fips, Length: 1121670, dtype: float64

In [56]:
df.fips.round()

0          53061.0
1          53061.0
2          53061.0
3          17031.0
4          53061.0
            ...
1121665    56037.0
1121666    56039.0
1121667    56041.0
1121668    56043.0
1121669    56045.0
Name: fips, Length: 1121670, dtype: float64

In [57]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0